<mat-card class="titleCard">
  <mat-card-header>
    <mat-card-title>
      <!-- use property binding on style.font-size.px -->
      <h1>
        <!-- Insert title here using interpolation -->
      </h1>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<!-- insert routing here -->