<!-- Show all the players and information-->
<div class="playerSelectDiv">
    <!-- Display a player with his information-->
    <!-- Use the ngFor directive to display all player-->
    <mat-card class="item playerItem">
        <!-- Use ngIf to display this div only if the element is in odd place-->
        <div class="playerOddDiv">
            <mat-card-header>
                <!-- use the ngFor directive to display player's name using interpolation-->
                <mat-card-title>
                    
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                 <!-- use the ngFor directive to display player's information using interpolation-->
                <div class="statDiv">
                        <span>LIFEICON</span>
                        <span>STRENGTHICON</span>
                        <span>DEFENSEICON</span>
                    </div>
            </mat-card-content>
        </div>
        <!-- Else block-->
        <ng-template>
            <mat-card-header class="playerEvenDiv">
                 <!-- use the ngFor directive to display player's name using interpolation-->
                <mat-card-title>
                    
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- use the ngFor directive to display player's information using interpolation-->
                <div class="statDiv">
                    <span>LIFEICON</span>
                    <span>STRENGTHICON</span>
                    <span>DEFENSEICON</span>
                </div>
            </mat-card-content>
        </ng-template>
    </mat-card>
</div>


<!-- Selected Player-->
<mat-card class="selectedPlayerInfo">
     <!-- Display this content only if a player is selected using ngIf directive-->
    <mat-card-header>
        <!-- Display selected player's information using interpolation -->
        <mat-card-title>
           <h1></h1>
        </mat-card-title>
    </mat-card-header>
    <!-- Display this content only if a player is selected using ngIf directive-->
    <!-- Display selected player's information using interpolation -->
    <mat-card-content>
        <span>LIFEICON</span> <br>
        <span>STRENGTHICON</span> <br>
        <span>DEFENSEICON</span>
    </mat-card-content>   
</mat-card>

<!--confirm button-->
<!-- use property binding to bind the property disabled-->
<!-- add user input click to navigate to next component-->
<button mat-raised-button color="accent" >CONFIRM</button>
