.playerSelectDiv{
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    display: grid;
    background-color: #242582 !important;
  }
  
  .playerSelectDiv mat-card{
    height: 12vh;
    font-size: 10vh;
  }
  
  .playerOddDiv {
    grid-column: 1;
  }
  
  .playerEvenDiv{
    grid-column: 2
  }
  
  .statDiv {
    width: fit-content;
    float: right;
  }
  
  .playerItem{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: fit-content;
  }
  
  .playerItem:nth-child(2n+1){
    grid-column: 1;
    margin-right: 0;
    border-radius: 15px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  
  .playerItem:nth-child(2n){
    grid-column: 2;
    margin-left: 0;
    border-radius: 15px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  
  .playerItem:hover{
    background-color: #F64C72;
  }
  
  .buttonDiv{
    margin-left: auto;
    margin-right: auto;
  }
  
  button{
    position: absolute;
    top: 80vh; 
    left: 55%;
    width: 20%;
    height: 5%;
  }
  
  .selectedPlayerInfo{
    position: absolute;
    bottom:0;
    margin-top: 2%;
    margin-left: 25%;
    min-width: 20%;
    width:20%;
    height: 28vh;
    min-height: 20vh;
    background-color: #F64C72;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .selectedPlayerInfo mat-card-header{
    justify-content: center;
  }
  
  .selectedPlayerInfo span {
    margin-left: 10%;
  }
  
  .menuItem {
    width: 40; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .menuItem:nth-child(2n+1) {
    grid-column: 1;
    margin-right: 0;
    border-radius: 15px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  
  .menuItem:nth-child(2n) {
    grid-column: 2;
    margin-left: 0;
    border-radius: 15px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  